*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #ddd;
}

main {
  width: 75%;
  max-width: 1080px;
  margin: auto;
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

.controls section {
  padding: 0.8rem;
  border: 1px solid #aaa;
  margin: 0.4rem;
}


.editor-input {
  margin: 1.6rem auto 0.8rem auto;
  width: 100%;
  min-height: 200px;
  box-shadow: 0 0 4px #aaa;
  padding: 0.8rem;
  overflow: auto;
}


.save-btn {
  display: block;
  margin: 0.8rem auto 1.6rem auto;
}


.result {
  width: 100%;
  min-height: 20rem;
  padding: 0.8rem;
  margin: 1.6rem auto;
  box-shadow: 0 0 4px #aaa;
}



.underline {
  text-decoration: underline;
}
